<%- layout('../layout') %>

<div align=center style="position:relative; top:7%;">
    <img src=/images/as_mail_top<%=stateCode%>.jpg width="40%">
    <table class="table-bordered" align=center border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse;border:1px gray solid;position:relative;" width="38%">
        <tr style="border-top:2px solid #D9418C">
            <td style="background-color:#F6F6F6" height="40px" align="center">접수자</td><td align="center"><%=complaint.customer%></td><td align="center" style="background-color:#F6F6F6">제품명</td><td align="center"><%=complaint.product%></td>
            </tr>
        <tr>
            <td style="background-color:#F6F6F6" height="40px" align="center">접수내용</td><td align="center" colspan="3"><%=complaint.content%></td>
            </tr>
        <tr>
            <td style="background-color:#F6F6F6" height="40px" align="center">접수번호</td><td align="center">WJ - <%=complaint.no%></td><td align="center" style="background-color:#F6F6F6">완료일</td><td align="center"><%=complaint.complete_date%></td>
            </tr>
        </table>
    <br></br>
    <div><a href="/AS/getAllList"><button class="btn btn-info">목록으로</button></a></div>
    <img src="/images/as_mail_bottom.jpg" width="40%">
</div>

<!-- <div align=center>
<img src=as_mail_bottom.jpg>
</div> -->
<script>

</script>




