<%- layout('../layout') %>
<script type="text/javascript">
    function getAS(event){

        var target = event.target.parentNode;//parent - tr
        var no = target.childNodes[1].childNodes[1].innerHTML;
//        alert(no);
        var frm = document.createElement('form');
        var hid = document.createElement('input');
        hid.setAttribute('type', 'hidden');
        hid.setAttribute('name', 'complaint_no');
        hid.setAttribute('value', no);
        frm.appendChild(hid);
        frm.setAttribute('method', 'post');
        frm.setAttribute('action', '/AS/getComplaintByNo');
        document.body.appendChild(frm);
        frm.submit();
        document.body.appendChild(frm);
    }
</script>

<div style="position:relative; top:7%" class="_main_content">
<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>접수번호</th>
        <th>제품명</th>
        <th>접수 내용</th>
        <th>접수자</th>
        <th>최초접수일</th>
        <th>접수상태</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < complaint_list.length;i++){ %>
    <tr class="as_list_tr" onclick="getAS(event);">
        <td class="as_no"><span class="wj"></span><span><%= complaint_list[i].no %></span></td>
        <td><%= complaint_list[i].product %></td>
        <td><%= complaint_list[i].content %></td>
        <td><%= complaint_list[i].customer_name %></td>
        <td><%= complaint_list[i].receipt_date %></td>
        <td><%= complaint_list[i].state %></td>
    </tr>
    <% } %>
    </tbody>
</table>
    <!--페이지 기능-->
    <div align="center">
        <a href="/AS/getAllListHelpedPagingGroup?flag=0">◀</a>&nbsp;&nbsp;&nbsp;
        <%for(var i=beginPage;i<=endPage;i++){%>
            <%if(i==current_page){%>
                [<%=i%>]&nbsp;&nbsp;&nbsp;
            <%}else{%>
                <a href="/AS/getAllList?page=<%=i%>"><%=i%></a>&nbsp;&nbsp;&nbsp;
            <%}%>
        <%}%>
        <a href="/AS/getAllListHelpedPagingGroup?flag=1">▶</a>
    </div>
    <br>
    <!-- search기능 -->
    <div align="center">
        <form method="post" action="/AS/search">
            <select name="searchType">
                <option value="no">접수번호</option>
                <option value="product">제품명</option>
                <option value="content">접수 내용</option>
                <option value="customer">접수자</option>
                <option value="state">접수상태</option>
            </select>
            <input type="text" name="keyword">
            <button class="btn btn-success">검색</button>
        </form>
    </div>
    <div align="center">
        <a href="/AS/createForm"><button class="btn btn-primary">새로운 A/S 접수</button></a>
        <a href="/AS/excel"><button class="btn btn-info">전체항목 엑셀 추출</button></a>
    </div>
</div>

<script>
    var wj = document.getElementsByClassName('wj');
//    var date = new Date();
//    var head = date.getFullYear();
    for(var i=0;i<wj.length;i++) {
        wj[i].innerHTML = 'WJ - '/*+ head + ' - '*/;
    }
</script>

<!--<script src="/bootstrap-2.3.2/docs/assets/js/jquery.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-transition.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-alert.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-modal.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-dropdown.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-scrollspy.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-tab.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-tooltip.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-popover.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-button.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-collapse.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-carousel.js"></script>-->
<!--<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-typeahead.js"></script>-->