<%- layout('complaint_layout') %>

<input id="errMsg" type="hidden" value="<%=errorMessage%>">
<script>
    //validation message
    var errMsg = document.getElementById('errMsg');
    if(errMsg.value!="") {
        alert('필수입력사항을 입력하지 않으셨습니다!!');
    }
</script>


<section class="page-header page-header-xs">
    <div class="container" data-shadow="0">

        <h1>A/S 접수</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="/login">Home</a></li>
            <li><a href="/AS/getAllList">A/S management</a></li>
            <li class="active">A/S  접수</li>
        </ol><!-- /breadcrumbs -->

        <!-- page tabs -->
        <ul class="page-header-tabs list-inline">
            <!--<li><a href="shortcode-tables.html">Bootstrap</a></li>-->
            <!--<li><a href="shortcode-tables-jqgrid.html">jQGrid</a></li>-->
            <!--<li><a href="shortcode-tables-footable.html">Footable</a></li>-->
            <!--<li class="active"><a href="shortcode-tables-datatables.html">Datatables</a></li>-->
        </ul><!-- /page tabs -->

    </div>
</section>
<!-- /PAGE HEADER -->

<section>
    <div class="container">

        <div class="row">

            <!-- LEFT - FORM -->
            <div class="col-md-6 col-sm-6">

                <div class="heading-title heading-border-bottom">
                    <h2 class="size-20">접수 정보</h2>
                </div>


                <form action="/AS/create" method="post">
                    <fieldset>
                        <!-- required [php action request] -->
                        <input type="hidden" name="action" value="contact_send" />

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6">
                                    <label>접수 번호 *</label>
                                    <input type="text" name="wj_no" value="WJ - <%=no%>" class="form-control required" readonly="readonly">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>접수일 *</label>
                                    <input type="text" class="form-control date_picker" id="cur_date" name="receipt_date">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6">
                                    <label>거래처 종류 </label>
                                    <select class="form-control pointer" id="customer_type" name="customer_type" onchange="getCustomerListByType(event);">
                                        <option value="전체">거채처 타입</option>
                                        <option value="병원">병원</option>
                                        <option value="제약회사">제약회사</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>거래처 *</label>
                                    <select name="customer_no" class="form-control pointer required" id="cus_list">
                                        <%for(var i=0;i<customerList.length;i++){%>
                                        <option value="<%=customerList[i].no%>"><%=customerList[i].name%></option>
                                        <%}%>>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12">
                                    <label>제조사 / 제품명 *</label>
                                    <input type="text" name="product" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12">
                                    <label>접수 내용 *</label>
                                    <textarea name="content" rows="4" class="form-control required"></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6">
                                    <label>거래처 담당자 *</label>
                                    <input type="text" name="customer_name" value="" class="form-control required">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>담당자 이메일 *</label>
                                    <input type="text" name="customer_email" value="" class="form-control required">
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12">
                                    <label>기타 사항 *</label>
                                    <textarea name="other_detail" rows="4" class="form-control required"></textarea>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-3d btn-teal btn-xlg btn-block margin-top-30">
                                <h2>저장</h2>
                                <span class="block font-lato">저장과 동시에 안내메일이 발송됩니다.</span>
                            </button>
                        </div>
                    </div>

                </form>

                <hr class="margin-top-60" />

            </div>

            <!-- RIGHT -->
            <div class="col-md-6 col-sm-6">

                <div class="heading-title heading-border-bottom heading-color">
                    <span class="pull-right text-muted">접수 진행중...</span>
                    <h2 class="size-20"><span>*</span> 접수 상태</h2>
                </div>

                <div class="margin-bottom-80">
                    <img src="/images/state.png" class="img-responsive">
                </div>

            </div>


        </div>

    </div>
</section>
<!-- / -->
<script>
    var cur_date = document.getElementById('cur_date');
    var date = new Date();
    cur_date.value = date.getFullYear() + "년 " + (date.getMonth()+1) + "월 " + date.getDate() + "일";
</script>

