<%- layout('../layout') %>
<div style="position:relative;top:7%">
    <table align="center" width="600px" class="table-bordered table-condensed table-striped" border="1">
        <form action="/calendar/register" method="post">
        <tr>
            <th width="24%" height="30px">구분</th>
            <th>내용</th>
        </tr>
        <tr>
            <td align="center"height="30px">일자</td>
            <td align="center"><%=start%> ~ <%=end%></td>
        </tr>
        <tr>
            <td align="center" height="30px">거래처</td>
            <td><input type="text" name="customer" style="width:470px"></td>
        </tr>
        <tr>
            <td height="30px" align="center">방문자</td>
            <td align="center"><select name="charger"><option value="">김대환</option><option>임유진</option><option>장민석</option></select></td>
        </tr>
        <tr>
            <td height="30px" align="center">제조사</td>
            <td align="center">
                <label style="display:inline">IWT<input type="checkbox" name="manufacturer"></label>&nbsp;&nbsp;
                <label style="display:inline">PRIMUS<input type="checkbox" name="manufacturer"></label>&nbsp;&nbsp;
                <label style="display:inline">삼성전자<input type="checkbox" name="manufacturer"></label>&nbsp;&nbsp;
                <label style="display:inline">인텔<input type="checkbox" name="manufacturer"></label>&nbsp;&nbsp;
                <label style="display:inline">애플<input type="checkbox" name="manufacturer"></label>&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td height="30px" align="center">업무구분</td>
            <td align="center">
                <label style="display:inline">무상유지보수<input type="checkbox" name="work_type"></label>&nbsp;&nbsp;
                <label style="display:inline">유상유지보수<input type="checkbox" name="work_type"></label>&nbsp;&nbsp;
                <label style="display:inline">단순방문<input type="checkbox" name="work_type"></label>&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td height="30px" align="center">문제장비</td>
            <td align="center"><input type="text" name="equipment" style="width:470px"></td>
        </tr>
        <tr>
            <td height="30px" align="center">시리얼넘버</td>
            <td align="center"><input type="text" name="serial_number" style="width:470px"></td>
        </tr>
        <tr>
            <td height="60px" align="center">처리 세부 내용</td>
            <td align="center"><textarea name="work_detail" style="width:470px"></textarea></td>
        </tr>
        <tr>
            <td height="30px" align="center">소요시간</td>
            <td align="center"><input type="text" name="work_delay" style="width:200px;"> 시간</td>
        </tr>
            <input type="hidden" value="<%=start_msec%>">
            <input type="hidden" value="<%=end_msec%>">
        <tr>
            <td colspan="2" height="30px" align="center"><input width="200px" class="btn btn-success" type="submit" value="일정 등록"></td>
        </tr>
        </form>
    </table>

</div>

<script>
    document.getElementsByTagName('label').setAttribute('style', 'displ')
</script>


